.container {
  padding: 24px;
}

.card {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    margin: 0;
  }
}

.row {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.currentRow {
  background-color: #e6f7ff;

  &:hover {
    background-color: #bae7ff;
  }
}
