.sider {
  background: #fff;
  border-right: 1px solid #f0f0f0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 64px;
  overflow-y: auto;
}

.menu {
  border-right: none;
  padding-top: 16px;
}
