.container {
  display: flex;
  align-items: center;
}

.icon {
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}

.select {
  min-width: 150px;

  :global {
    .ant-select-selector {
      border-radius: 4px;
    }
  }
}

.refreshIcon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s;

  &:hover {
    color: #1890ff;
  }
}
